<template>
    <ssm-header
        onopenwelcomemodal={handleOpenWelcomeModal}
        onopenauthmodal={handleOpenAuthModal}
        onlogout={handleLogout}
    ></ssm-header>

    <!-- Toast -->
    <ssm-toast title={toastTitle} type={toastType}></ssm-toast>

    <div class="slds-grid">
        <div class="slds-col">
            <!-- Realms list component -->
            <ssm-realms
                onrefreshauth={handleRefreshAuth}
                onopentoast={handleOpenToast}
            ></ssm-realms>
        </div>
    </div>

    <!-- Auth modal -->
    <ssm-authmodal></ssm-authmodal>
    <!-- Welcome modal -->
    <ssm-welcomemodal></ssm-welcomemodal>
</template>
