<template>
    <ssm-header
        onopenwelcomemodal={handleOpenWelcomeModal}
        onopenauthmodal={handleOpenAuthModal}
        onlogout={handleLogout}
    ></ssm-header>

    <div class="slds-grid slds-gutters">
        <div class="slds-col">
            <!-- Realms list component -->
            <ssm-realms onrefreshauth={handleRefreshAuth}></ssm-realms>
        </div>
    </div>

    <!-- Auth modal -->
    <ssm-authmodal></ssm-authmodal>
    <!-- Welcome modal -->
    <ssm-welcomemodal></ssm-welcomemodal>
</template>
