<template>
    <template if:true={isAuthenticated}>
        <article class="slds-card">
            <div class="slds-card__header slds-grid">
                <header
                    class="slds-media slds-media_center slds-has-flexi-truncate"
                >
                    <div class="slds-media__figure">
                        <span
                            class="slds-icon_container slds-icon-standard-account"
                            title="account"
                        >
                            <svg
                                class="slds-icon slds-icon_small"
                                aria-hidden="true"
                            >
                                <use
                                    xlink:href="/resources/slds/icons/standard-sprite/svg/symbols.svg#account"
                                ></use>
                            </svg>
                            <span class="slds-assistive-text">My realms</span>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title">
                            <span
                                >My realms (<span data-js-realms-count>0</span
                                >)</span
                            >
                        </h2>
                    </div>
                    <div class="slds-no-flex">
                        <button
                            class="slds-button slds-button_neutral"
                            onclick={handleRefresh}
                        >
                            <svg
                                class="slds-button__icon slds-button__icon_left"
                                aria-hidden="true"
                            >
                                <use
                                    xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#refresh"
                                ></use>
                            </svg>
                            Refresh realms list
                        </button>
                    </div>
                </header>
            </div>
            <div class="slds-card__body slds-card__body_inner">
                <template if:true={isLoadingData}>
                    <div role="status" class="slds-spinner slds-spinner_small">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </template>
                <template if:false={isLoadingData}>
                    <template if:true={hasRealms}>
                        <div class="slds-vertical-tabs">
                            <ul
                                class="slds-vertical-tabs__nav"
                                role="tablist"
                                aria-orientation="vertical"
                            >
                                <template
                                    for:each={realms}
                                    for:item="realm"
                                    for:index="index"
                                >
                                    <ssm-realm-row
                                        realm={realm}
                                        index={index}
                                        key={realm.id}
                                        onselectrealm={handleRealmSelection}
                                    ></ssm-realm-row>
                                </template>
                            </ul>
                            <template
                                for:each={realms}
                                for:item="realm"
                                for:index="index"
                            >
                                <ssm-realm-content
                                    userinfos={userinfos}
                                    realm={realm}
                                    index={index}
                                    key={realm.id}
                                    onopenrealmpanel={handleOpenRealmPanel}
                                    onchangelabel={handleOpenChangeRealmLabelModal}
                                ></ssm-realm-content>
                            </template>
                        </div>

                        <!-- Realm configuration panels -->
                        <template for:each={realms} for:item="realm">
                            <ssm-realm-panel
                                realmid={realm.id}
                                key={realm.id}
                                onapplyconfiguration={handleApplyRealmConfiguration}
                            ></ssm-realm-panel>
                        </template>

                        <!-- Realm Label Modal -->
                        <ssm-set-realm-label-modal
                            onsetrealmlabel={handleSetRealmLabel}
                        ></ssm-set-realm-label-modal>
                    </template>

                    <template if:false={hasRealms}>
                        <p
                            class="slds-text-align_center slds-text-title_caps slds-m-vertical_large"
                        >
                            No realms yet.
                        </p>
                    </template>
                </template>
            </div>
            <footer class="slds-card__footer"></footer>
        </article>
    </template>
</template>
