<template>
    <div
        class="
            slds-panel
            slds-size_medium
            slds-panel_docked slds-panel_docked-right
            slds-size_large
        "
        aria-hidden="true"
        data-js-panel
    >
        <div class="slds-panel__header">
            <h2
                class="
                    slds-panel__header-title
                    slds-text-heading_small
                    slds-truncate
                "
                title="Sandbox details"
            >
                Sandbox details
                <template if:true={hasSandbox}>
                    <span class="slds-m-left_medium"
                        ><span class={badgeState}>{sandbox.state}</span></span
                    >
                </template>
            </h2>
            <button
                class="
                    slds-button slds-button_icon slds-button_icon-small
                    slds-panel__close
                "
                title="Sandbox details"
                onclick={handleClose}
            >
                <svg class="slds-button__icon" aria-hidden="true">
                    <use
                        xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#close"
                    ></use>
                </svg>
                <span class="slds-assistive-text">Sandbox details</span>
            </button>
        </div>
        <div class="slds-panel__body">
            <template if:true={isLoadingData}>
                <div role="status" class="slds-spinner slds-spinner_small">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </template>
            <template if:false={isLoadingData}>
                <template if:true={hasSandbox}>
                    <div class="slds-tabs_default">
                        <ul class="slds-tabs_default__nav" role="tablist">
                            <li
                                class="slds-tabs_default__item slds-is-active"
                                title="Details"
                                role="presentation"
                                data-js-tab-item
                            >
                                <a
                                    class="slds-tabs_default__link"
                                    role="tab"
                                    tabindex="0"
                                    aria-selected="true"
                                    aria-controls="sandbox-panel-tab-1"
                                    id="sandbox-panel-tab-1__item"
                                    onclick={handleOpenDetailsTab}
                                    >Details</a
                                >
                            </li>
                            <li
                                class="slds-tabs_default__item"
                                title="Usage"
                                role="presentation"
                                data-js-tab-item
                            >
                                <a
                                    class="slds-tabs_default__link"
                                    role="tab"
                                    tabindex="-1"
                                    aria-selected="false"
                                    aria-controls="sandbox-panel-tab-2"
                                    id="sandbox-panel-tab-2__item"
                                    onclick={handleOpenUsageTab}
                                    >Usage</a
                                >
                            </li>
                            <li
                                class="slds-tabs_default__item"
                                title="Settings"
                                role="presentation"
                                data-js-tab-item
                            >
                                <a
                                    class="slds-tabs_default__link"
                                    role="tab"
                                    tabindex="-1"
                                    aria-selected="false"
                                    aria-controls="sandbox-panel-tab-3"
                                    id="sandbox-panel-tab-3__item"
                                    onclick={handleOpenSettingsTab}
                                    >Settings</a
                                >
                            </li>
                        </ul>
                        <div
                            id="sandbox-panel-tab-1"
                            class="slds-tabs_default__content slds-show"
                            role="tabpanel"
                            aria-labelledby="sandbox-panel-tab-1__item"
                            data-js-tab-content
                        >
                            <p class="slds-text-title_caps slds-m-bottom_small">
                                Details:
                            </p>
                            <p>Realm: {sandbox.realm}</p>
                            <p>Sandbox ID: {sandbox.id}</p>
                            <p>Instance: {sandbox.instance}</p>
                            <p>Auto scheduled: {sandbox.autoScheduled}</p>
                            <p>Resource profile: {sandbox.resourceProfile}</p>
                            <p>Created at: {createdAt}</p>
                            <p>Created by: {sandbox.createdBy}</p>
                            <template if:true={hasEOL}>
                                <p>End of life: {endOfLife}</p>
                            </template>
                            <template if:true={hasDeletedDetails}>
                                <p>Deleted at: {deletedAt}</p>
                                <p>Deleted by: {sandbox.deletedBy}</p>
                            </template>
                            <template if:true={hasVersionDetails}>
                                <p
                                    class="
                                        slds-text-title_caps
                                        slds-m-bottom_small
                                    "
                                >
                                    Versions:
                                </p>
                                <p>App: {sandbox.version.app}</p>
                                <p>Web: {sandbox.versions.web}</p>
                            </template>
                            <hr />
                            <p class="slds-text-title_caps slds-m-bottom_small">
                                Links:
                            </p>
                            <ul>
                                <li>
                                    <a href={sandbox.links.bm} target="_blank"
                                        >Business Manager</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href={sandbox.links.ocapi}
                                        target="_blank"
                                        >OCAPI</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href={sandbox.links.impex}
                                        target="_blank"
                                        >Import/Export</a
                                    >
                                </li>
                                <li>
                                    <a href={sandbox.links.code} target="_blank"
                                        >Code Versions</a
                                    >
                                </li>
                                <li>
                                    <a href={sandbox.links.logs} target="_blank"
                                        >Logs</a
                                    >
                                </li>
                            </ul>
                            <template if:true={hasSandboxStorageLoaded}>
                                <hr />
                                <p
                                    class="
                                        slds-text-title_caps
                                        slds-m-bottom_small
                                    "
                                >
                                    Storage:
                                </p>
                                <ul>
                                    <li>
                                        Shared data:
                                        {sandbox.storage.sharedata.spaceUsed} MB
                                        on
                                        {sandbox.storage.sharedata.spaceTotal}
                                        MB
                                        ({sandbox.storage.sharedata.percentageUsed}%
                                        used)
                                    </li>
                                    <li>
                                        Realm data:
                                        {sandbox.storage.realmdata.spaceUsed} MB
                                        on
                                        {sandbox.storage.realmdata.spaceTotal}
                                        MB
                                        ({sandbox.storage.realmdata.percentageUsed}%
                                        used)
                                    </li>
                                </ul>
                            </template>
                        </div>
                        <div
                            id="sandbox-panel-tab-2"
                            class="slds-tabs_default__content slds-hide"
                            role="tabpanel"
                            aria-labelledby="sandbox-panel-tab-2__item"
                            data-js-tab-content
                        >
                            <template if:true={isLoadingUsageData}>
                                <div
                                    role="status"
                                    class="slds-spinner slds-spinner_small"
                                >
                                    <span class="slds-assistive-text"
                                        >Loading</span
                                    >
                                    <div class="slds-spinner__dot-a"></div>
                                    <div class="slds-spinner__dot-b"></div>
                                </div>
                            </template>
                            <template if:false={isLoadingUsageData}>
                                <template if:true={hasSandboxUsageLoaded}>
                                    <fieldset
                                        class="
                                            slds-form-element
                                            slds-form-element_compound
                                        "
                                    >
                                        <legend
                                            class="
                                                slds-form-element__legend
                                                slds-form-element__label
                                            "
                                        >
                                            History dates
                                        </legend>
                                        <div class="slds-form-element__control">
                                            <div class="slds-form-element__row">
                                                <div class="slds-size_1-of-2">
                                                    <div
                                                        class="
                                                            slds-form-element
                                                        "
                                                    >
                                                        <label
                                                            class="
                                                                slds-form-element__label
                                                            "
                                                            for="usage-from"
                                                            >From</label
                                                        >
                                                        <div
                                                            class="
                                                                slds-form-element__control
                                                            "
                                                        >
                                                            <input
                                                                type="text"
                                                                id="usage-from"
                                                                class="
                                                                    slds-input
                                                                "
                                                                placeholder={today}
                                                                value={usageFromValue}
                                                                data-js-usage-from
                                                            />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slds-size_1-of-2">
                                                    <div
                                                        class="
                                                            slds-form-element
                                                        "
                                                    >
                                                        <label
                                                            class="
                                                                slds-form-element__label
                                                            "
                                                            for="usage-to"
                                                            >To</label
                                                        >
                                                        <div
                                                            class="
                                                                slds-form-element__control
                                                            "
                                                        >
                                                            <input
                                                                type="text"
                                                                id="usage-to"
                                                                class="
                                                                    slds-input
                                                                "
                                                                placeholder={today}
                                                                value={usageToValue}
                                                                data-js-usage-to
                                                            />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-form-element">
                                            <div
                                                class="
                                                    slds-form-element__control
                                                "
                                            >
                                                <button
                                                    type="button"
                                                    class="
                                                        slds-button
                                                        slds-button_neutral
                                                        slds-button_stretch
                                                        slds-button_outline-brand
                                                    "
                                                    onclick={handleRefreshUsageData}
                                                >
                                                    Refresh usage data
                                                </button>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <hr />
                                    <p
                                        class="
                                            slds-text-title_caps
                                            slds-m-bottom_small
                                        "
                                    >
                                        Usage summary:
                                    </p>
                                    <p>
                                        Minutes Up: {sandbox.usage.minutesUp} (~
                                        {daysUp} days up)
                                    </p>
                                    <p>
                                        Minutes Down:
                                        {sandbox.usage.minutesDown} (~
                                        {daysDown} days down)
                                    </p>
                                    <hr />
                                    <p
                                        class="
                                            slds-text-title_caps
                                            slds-m-bottom_small
                                        "
                                    >
                                        Usage details:
                                    </p>
                                    <p>
                                        You'll see a graph in the future release
                                    </p>
                                </template>
                            </template>
                        </div>
                        <div
                            id="sandbox-panel-tab-3"
                            class="slds-tabs_default__content slds-hide"
                            role="tabpanel"
                            aria-labelledby="sandbox-panel-tab-3__item"
                            data-js-tab-content
                        >
                            <template if:true={isLoadingSettingsData}>
                                <div
                                    role="status"
                                    class="slds-spinner slds-spinner_small"
                                >
                                    <span class="slds-assistive-text"
                                        >Loading</span
                                    >
                                    <div class="slds-spinner__dot-a"></div>
                                    <div class="slds-spinner__dot-b"></div>
                                </div>
                            </template>
                            <template if:false={isLoadingSettingsData}>
                                <template if:true={hasSandboxSettingsLoaded}>
                                    <p class="slds-text-title_caps">OCAPI</p>
                                    <textarea
                                        data-js-settings-ocapi
                                        rows="10"
                                        class="slds-textarea"
                                        readonly
                                    >
{settingsOcapi}</textarea
                                    >
                                    <hr />
                                    <p class="slds-text-title_caps">WebDAV</p>
                                    <textarea
                                        data-js-settings-webdav
                                        rows="10"
                                        class="slds-textarea"
                                        readonly
                                    >
{settingsWebdav}</textarea
                                    >
                                </template>
                            </template>
                        </div>
                    </div>
                </template>
            </template>
        </div>
    </div>
</template>
