<template>
    <div class="slds-grid slds-m-bottom_medium">
        <div class="slds-col">
            <span class="slds-text-heading_small"
                >Sandboxes (<span data-js-sandboxes-count>0</span>)</span
            >
        </div>
        <div class="slds-col">
            <div class="slds-grid slds-grid_align-end">
                <div class="slds-col">
                    <button
                        class="slds-button slds-button_neutral"
                        onclick={handleRefresh}
                    >
                        Refresh
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-grid">
        <div class="slds-col">
            <template if:true={isLoadingData}>
                <div role="status" class="slds-spinner slds-spinner_small">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </template>
            <template if:false={isLoadingData}>
                <template if:true={hasSandboxes}>
                    <table
                        class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped slds-table_fixed-layout"
                    >
                        <thead>
                            <tr class="slds-line-height_reset">
                                <th scope="col">
                                    <div class="slds-truncate" title="ID">
                                        ID
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="slds-truncate" title="Realm">
                                        Realm
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="slds-truncate" title="Instance">
                                        Instance
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="slds-truncate"
                                        title="Created at"
                                    >
                                        Created at
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="slds-truncate"
                                        title="Created by"
                                    >
                                        Created by
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="slds-truncate" title="State">
                                        State
                                    </div>
                                </th>
                                <th scope="col" style="width: 9rem">
                                    <div class="slds-truncate" title="Actions">
                                        Actions
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <template for:each={sandboxes} for:item="sandbox">
                                <ssm-sandbox-row
                                    sandbox={sandbox}
                                    key={sandbox.id}
                                    onopensandboxpanel={handleOpenPanel}
                                    onrunoperation={handleRunOperation}
                                ></ssm-sandbox-row>
                            </template>
                        </tbody>
                    </table>

                    <!-- Sandbox details panels -->
                    <template for:each={sandboxes} for:item="sandbox">
                        <ssm-sandbox-panel
                            sandboxid={sandbox.id}
                            key={sandbox.id}
                        ></ssm-sandbox-panel>
                    </template>
                </template>

                <template if:false={hasSandboxes}>
                    <template if:true={hasError}>
                        <p class="slds-text-color_error">{error}</p>
                    </template>
                    <template if:false={hasError}>
                        <p
                            class="slds-text-align_center slds-text-title_caps slds-m-vertical_large"
                        >
                            No sandboxes yet.
                        </p>
                    </template>
                </template>
            </template>
        </div>
    </div>
</template>
