<template>
    <div class="slds-grid slds-m-bottom_medium">
        <div class="slds-col">
            <span class="slds-text-heading_small"
                >Sandboxes (<span data-js-sandboxes-count>0</span>)</span
            >
        </div>
        <div class="slds-col">
            <div class="slds-grid slds-grid_align-end slds-gutters">
                <template if:true={hasUserInfos}>
                    <div class="slds-col">
                        <div class="slds-form-element">
                            <label class="slds-checkbox_toggle slds-grid">
                                <span
                                    class="slds-form-element__label slds-m-bottom_none"
                                    >Only my sandboxes</span
                                >
                                <input
                                    type="checkbox"
                                    id="sandboxes-filter-onlymine"
                                    aria-describedby="sandboxes-filter-onlymine-describe"
                                    onchange={handleFilterOnlyMineChange}
                                    data-js-sandbox-filter-onlymine
                                />
                                <span
                                    id="sandboxes-filter-onlymine-describe"
                                    class="slds-checkbox_faux_container"
                                    aria-live="assertive"
                                >
                                    <span class="slds-checkbox_faux"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="slds-col">
                        <div class="slds-form-element">
                            <label class="slds-checkbox_toggle slds-grid">
                                <span
                                    class="slds-form-element__label slds-m-bottom_none"
                                    >Include deleted sandboxes</span
                                >
                                <input
                                    type="checkbox"
                                    id="sandboxes-filter-include-deleted"
                                    aria-describedby="sandboxes-filter-include-deleted-describe"
                                    onchange={handleFilterIncludeDeletedChange}
                                    data-js-sandbox-filter-include-deleted
                                />
                                <span
                                    id="sandboxes-filter-include-deleted-describe"
                                    class="slds-checkbox_faux_container"
                                    aria-live="assertive"
                                >
                                    <span class="slds-checkbox_faux"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </template>
                <div class="slds-col">
                    <button
                        class="slds-button slds-button_brand"
                        onclick={handleCreateSandbox}
                    >
                        <svg
                            class="slds-button__icon slds-button__icon_left"
                            aria-hidden="true"
                        >
                            <use
                                xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#record_create"
                            ></use>
                        </svg>
                        New sandbox
                    </button>
                </div>
                <div class="slds-col">
                    <button
                        class="slds-button slds-button_neutral"
                        onclick={handleRefresh}
                    >
                        <svg
                            class="slds-button__icon slds-button__icon_left"
                            aria-hidden="true"
                        >
                            <use
                                xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#refresh"
                            ></use>
                        </svg>
                        Refresh sandboxes list
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-grid">
        <div class="slds-col">
            <template if:true={isLoadingData}>
                <div role="status" class="slds-spinner slds-spinner_small">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </template>
            <template if:false={isLoadingData}>
                <template if:true={hasSandboxes}>
                    <table
                        class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped slds-table_fixed-layout"
                    >
                        <thead>
                            <tr class="slds-line-height_reset">
                                <th scope="col">
                                    <div class="slds-truncate" title="ID">
                                        ID
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="slds-truncate" title="Instance">
                                        Instance
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="slds-truncate"
                                        title="Created at"
                                    >
                                        Created at
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="slds-truncate"
                                        title="Created by"
                                    >
                                        Created by
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="slds-truncate" title="State">
                                        State
                                    </div>
                                </th>
                                <th scope="col" style="width: 10rem">
                                    <div class="slds-truncate" title="Actions">
                                        Actions
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <template for:each={sandboxes} for:item="sandbox">
                                <ssm-sandbox-row
                                    sandbox={sandbox}
                                    key={sandbox.id}
                                    onrefreshsandbox={handleRefreshSandbox}
                                    onopensandboxpanel={handleOpenPanel}
                                    onrunoperation={handleRunOperation}
                                    ondeletesandbox={handleDeleteSandbox}
                                ></ssm-sandbox-row>
                            </template>
                        </tbody>
                    </table>

                    <!-- Sandbox details panels -->
                    <template for:each={sandboxes} for:item="sandbox">
                        <ssm-sandbox-panel
                            sandboxid={sandbox.id}
                            key={sandbox.id}
                        ></ssm-sandbox-panel>
                    </template>
                </template>

                <template if:false={hasSandboxes}>
                    <p
                        class="slds-text-align_center slds-text-title_caps slds-m-vertical_large"
                    >
                        No sandboxes yet, or you don't have the "Sandbox API
                        User" role within the Account Manager for this realm.
                    </p>
                </template>
            </template>
        </div>
    </div>

    <template if:true={showDeletePrompt}>
        <ssm-deleteprompt
            sandboxid={sandboxIdToDelete}
            onconfirmdeletion={handleDeleteSandboxConfirm}
            onclosedeleteprompt={handleDeleteSandboxCancel}
        ></ssm-deleteprompt>
    </template>

    <ssm-newsandboxmodal
        realmid={realmid}
        oncreatesandbox={handleSandboxCreation}
    ></ssm-newsandboxmodal>
</template>
