<template>
    <header class="slds-global-header_container">
        <div class="slds-global-header slds-grid slds-grid_align-spread">
            <div class="slds-global-header__item">
                <div class="slds-grid slds-gutters">
                    <div class="slds-col">
                        <img
                            src="/resources/slds/images/logo-noname.svg"
                            style="height: 2rem"
                        />
                    </div>
                    <div class="slds-col">
                        <p class="slds-text-heading_large">
                            Salesforce On-Demand Sandboxes Manager
                        </p>
                    </div>
                </div>
            </div>
            <div class="slds-global-header__item">
                <ul class="slds-global-actions">
                    <li class="slds-global-actions__item">
                        <div
                            class="slds-dropdown-trigger slds-dropdown-trigger_click"
                        >
                            <button
                                class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-actions__item-action"
                                aria-haspopup="true"
                                title="Welcome"
                                onclick={onClickOpenWelcomeModal}
                            >
                                <svg
                                    class="slds-button__icon slds-global-header__icon"
                                    aria-hidden="true"
                                >
                                    <use
                                        xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#home"
                                    ></use>
                                </svg>
                                <span class="slds-assistive-text">Welcome</span>
                            </button>
                        </div>
                    </li>
                    <li
                        class="slds-global-actions__item slds-m-horizontal_small"
                    >
                        <div
                            class="slds-dropdown-trigger slds-dropdown-trigger_click"
                        >
                            <a
                                href="https://documentation.b2c.commercecloud.salesforce.com/DOC1/topic/com.demandware.dochelp/content/b2c_commerce/topics/sandboxes/b2c_developer_sandboxes.html"
                                class="slds-button slds-button_icon slds-button_icon slds-button_icon-container slds-button_icon-small slds-global-actions__item-action"
                                aria-haspopup="true"
                                title="Documentation"
                                target="_blank"
                            >
                                <svg
                                    class="slds-button__icon slds-global-header__icon"
                                    aria-hidden="true"
                                >
                                    <use
                                        xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#question"
                                    ></use>
                                </svg>
                                <span class="slds-assistive-text"
                                    >Documentation</span
                                >
                            </a>
                        </div>
                    </li>
                    <li class="slds-hide" data-js-not-authenticated>
                        <button
                            class="slds-button slds-global-actions__avatar slds-global-actions__item-action"
                            title="Authenticate"
                            onclick={onClickNotAuthenticatedLink}
                        >
                            <span
                                class="slds-avatar slds-avatar_circle slds-avatar_medium"
                            >
                                <img
                                    alt="Person name"
                                    src="/resources/slds/images/avatar2.jpg"
                                    title="User avatar"
                                />
                            </span>
                        </button>
                    </li>
                    <li class="slds-hide" data-js-authenticated>
                        <div
                            class="slds-dropdown-trigger slds-dropdown-trigger_click"
                        >
                            <button
                                class="slds-button slds-global-actions__avatar slds-global-actions__item-action"
                                aria-haspopup="true"
                                title="Authenticate"
                                onclick={onClickAuthenticatedLink}
                            >
                                <span
                                    class="slds-avatar slds-avatar_circle slds-avatar_medium"
                                >
                                    <img
                                        alt="Person name"
                                        src="/resources/slds/images/profile_avatar_200.png"
                                        title="User avatar"
                                    />
                                </span>
                            </button>
                            <div class="slds-dropdown slds-dropdown_right">
                                <ul
                                    class="slds-dropdown__list"
                                    role="menu"
                                    aria-label="Show more"
                                >
                                    <template if:true={hasUserInfos}>
                                        <li
                                            class="slds-dropdown__item"
                                            role="presentation"
                                        >
                                            <a
                                                role="menuitem"
                                                tabindex="0"
                                                href="#"
                                                onclick={onClickPreventDefault}
                                            >
                                                <span title="User name">
                                                    {userInfos.name}
                                                </span>
                                            </a>
                                        </li>
                                        <li
                                            class="slds-dropdown__item"
                                            role="presentation"
                                        >
                                            <a
                                                role="menuitem"
                                                tabindex="0"
                                                href="#"
                                                onclick={onClickPreventDefault}
                                            >
                                                <span title="User ID">
                                                    {userInfos.id}
                                                </span>
                                            </a>
                                        </li>
                                        <li
                                            class="slds-dropdown__item"
                                            role="presentation"
                                        >
                                            <a
                                                role="menuitem"
                                                tabindex="0"
                                                href="#"
                                                onclick={onClickClientID}
                                            >
                                                <span title="Client ID">
                                                    {userInfos.clientId}
                                                </span>
                                            </a>
                                            <div
                                                class="slds-popover slds-popover_tooltip slds-nubbin_bottom-left slds-hide"
                                                role="tooltip"
                                                data-js-clientid-tooltip
                                            >
                                                <div class="slds-popover__body">
                                                    Copied!
                                                </div>
                                            </div>
                                        </li>
                                    </template>
                                    <li
                                        class="slds-dropdown__item"
                                        role="presentation"
                                    >
                                        <a
                                            role="menuitem"
                                            tabindex="0"
                                            onclick={onClickLogoutLink}
                                        >
                                            <span
                                                class="slds-truncate"
                                                title="Logout"
                                            >
                                                <svg
                                                    class="slds-icon slds-icon_x-small slds-icon-text-default slds-m-right_x-small"
                                                    aria-hidden="true"
                                                >
                                                    <use
                                                        xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#logout"
                                                    ></use>
                                                </svg>
                                                Logout
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</template>
