<template>
    <td role="gridcell">
        <div class="slds-truncate" title={sandbox.id}>{sandbox.id}</div>
    </td>
    <td role="gridcell">
        <div class="slds-truncate" title={sandbox.instance}>
            {sandbox.instance}
        </div>
    </td>
    <td role="gridcell">
        <div class="slds-truncate" title={createdAt}>{createdAt}</div>
    </td>
    <td role="gridcell">
        <div class="slds-truncate" title={sandbox.createdBy}>
            {sandbox.createdBy}
        </div>
    </td>
    <td role="gridcell">
        <div class="slds-truncate" title={sandbox.state}>
            <span class={badgeState}>{sandbox.state}</span>
        </div>
    </td>
    <td role="gridcell">
        <div title="Actions">
            <template if:true={hasPendingOperation}>
                <div
                    class="slds-icon-eq slds-is-animated slds-m-right_xx-small"
                    title="Operation in progress"
                >
                    <div class="slds-icon-eq__bar"></div>
                    <div class="slds-icon-eq__bar"></div>
                    <div class="slds-icon-eq__bar"></div>
                    <span class="slds-assistive-text"
                        >Operation in progress</span
                    >
                </div>
            </template>

            <template if:true={canOpen}>
                <a
                    href={url}
                    target="_blank"
                    class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-small"
                    title="Open"
                >
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use
                            xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#open"
                        ></use>
                    </svg>
                    <span class="slds-assistive-text">Open</span>
                </a>
            </template>
            <template if:false={canOpen}>
                <a
                    href={url}
                    target="_blank"
                    class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-small"
                    title="Open"
                    aria-disabled="true"
                >
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use
                            xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#open"
                        ></use>
                    </svg>
                    <span class="slds-assistive-text">Open</span>
                </a>
            </template>

            <template if:true={canRefresh}>
                <button
                    class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-small"
                    title="Refresh"
                    onclick={handleRefresh}
                >
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use
                            xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#refresh"
                        ></use>
                    </svg>
                    <span class="slds-assistive-text">Refresh</span>
                </button>
            </template>
            <template if:false={canRefresh}>
                <button
                    class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-small"
                    title="Refresh"
                    onclick={handleRefresh}
                    disabled
                >
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use
                            xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#refresh"
                        ></use>
                    </svg>
                    <span class="slds-assistive-text">Refresh</span>
                </button>
            </template>

            <template if:true={canStart}>
                <button
                    class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-small"
                    title="Start"
                    data-operation="start"
                    onclick={handleRunOperation}
                >
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use
                            xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#play"
                        ></use>
                    </svg>
                    <span class="slds-assistive-text">Start</span>
                </button>
            </template>

            <template if:true={canStop}>
                <button
                    class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-small"
                    title="Stop"
                    data-operation="stop"
                    onclick={handleRunOperation}
                >
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use
                            xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#stop"
                        ></use>
                    </svg>
                    <span class="slds-assistive-text">Stop</span>
                </button>
            </template>

            <button
                class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-small"
                title="Details"
                onclick={handleOpenPanel}
            >
                <svg class="slds-button__icon" aria-hidden="true">
                    <use
                        xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#threedots"
                    ></use>
                </svg>
                <span class="slds-assistive-text">Details</span>
            </button>

            <template if:true={canDelete}>
                <button
                    class="slds-button slds-button_icon slds-button_icon-error slds-button_icon-border-filled slds-button_icon-small"
                    title="Delete"
                    onclick={handleDelete}
                >
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use
                            xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#delete"
                        ></use>
                    </svg>
                    <span class="slds-assistive-text">Delete</span>
                </button>
            </template>
            <template if:false={canDelete}>
                <button
                    class="slds-button slds-button_icon slds-button_icon-error slds-button_icon-border-filled slds-button_icon-small"
                    title="Delete"
                    onclick={handleDelete}
                    disabled
                >
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use
                            xlink:href="/resources/slds/icons/utility-sprite/svg/symbols.svg#delete"
                        ></use>
                    </svg>
                    <span class="slds-assistive-text">Delete</span>
                </button>
            </template>
        </div>
    </td>
</template>
